* {
	box-sizing: border-box;
}

body{
    background-color: black;
}

#wrapper {
	padding: 30px;
}

#mainCanvas {
    background-color: white;
    box-shadow: 0px 0px 50px #ccf;
    border-radius: 10px 10px;
}

#mainCanvas:hover {
	cursor: pointer;
}

#toolbar{
    width:100%;
    padding: 10px;
    background-color:#dddddd;
}

#ideaInput{
    border: 2px solid black;
    border-radius: 10px 10px;
    padding: 10px;
    background-color: #666666;
    width:250px;
    height:100px;
    margin: auto;
    overflow-y: auto;
}
#ideaInput input {
    margin:5px;
    width: 90%;
}
#ideaInput button{
    margin:5px;
}

#clearCanvas {
    float: right;
}

#chatbox {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 20px;
	width: 200px;
}

#inputbox {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60px;
	background-color: #f5f5f5;
	width: 200px;
	padding: 12px;
}

#inputbox input {

}

#chatstream {
	overflow: auto;
	width: 200px;
	position: absolute;
	left:0;
	bottom: 60px;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 12px;
}

#chatbox, #chatstream {
	background-color: white;
}

#chatstream, #inputbox {
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

#chatstream, #chatbox {
    box-shadow: 0px 0px 50px #ccf;
}

.msg {
	margin: 12px 0;
}

.msgdate {
	font-size: 80%;
	text-align: right;
	color: #999;
}

.msgtext {

}
