body{
    background-color: black;
}

#wrapper {
	padding: 30px;
	box-sizing: border-box;
}

#mainCanvas {
    background-color: white;
    box-shadow: 0px 0px 50px #ccf;
    border-radius: 10px 10px;
    width: 100%;
}

#toolbar{
    width:100%;
    padding: 10px;
    background-color:#dddddd;
}

#ideaInput{
    border: 2px solid black;
    border-radius: 10px 10px;
    padding: 10px;
    background-color: #666666;
    width:200px;
    height:100px;
    margin: auto;
    overflow-y: auto;
}
#ideaInput input{
    margin:5px;
}

#clearCanvas {
    float: right;
}